body{
    background-color:rosybrown;
    font-family:Arial,sans-serif;
  }
  
  
  a{ text-decoration:none;
  }
  
  
  .business-card{
  background-color:green;
  padding:20px;
  width:300px;
  margin:100px;
  text-align:center;
  font-size:16px;
  margin-right:auto;
  margin-left:auto;
  
  
  }
  
  
  p{
    margin:5px;
  }
  
  
  .profile-image{
    max-width:100%;
  }

.social-media{


}

  
